<html>
<head>
    <title>Synopsys Vulnerable Test - Login</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Synopsys Vulnerable Test - CSRF1 - Login</h1>
    <p>
        You logged in!
    </p>
    <p><a href="/">Return to /</a></p>
</body>
</html>
