<html>
<head>
    <title>Synopsys Vulnerable Test Site</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Synopsys Vulnerable Test Site - CSRF1</h1>
    <p>
        Note that your browser has received a session cookie and a hidden CSRF token as a hidden input field.
        This form must be submitted with the the same session cookie, and with the CSRF token matching this session.
    </p>
{% if svts_session -%}
    {% if session_valid -%}
        <p>You are logged in!
        <form method="post" action="/logout">
            <input type="submit" value="Logout">
        </form>
        <form method="post" action="/step2">
            <p>
            <label for="input1">This input is reflected back at you upon success:<br>
            <input id="input1" name="input1" type="text" value="test_post_data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="submit" value="Submit">
            </p>
        </form>
    {% else -%}
        <p>You have a svts_session cookie but it is stale.
        <form method="post" action="/login">
            <input type="submit" value="Login">
        </form>
    {% endif %}
{% else -%}
        <p>You are not logged in.
        <form method="post" action="/login">
            <input type="submit" value="Login">
        </form>
{% endif %}
</body>
</html>
